<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>20150916</string>
	<key>Zones</key>
	<dict>
		<key>1</key>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>Nom</key>
			<string>Mer du Nord</string>
			<key>Tri</key>
			<integer>1</integer>
		</dict>
		<key>2</key>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>Nom</key>
			<string>Manche Est</string>
			<key>Tri</key>
			<integer>2</integer>
		</dict>
		<key>3</key>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>Nom</key>
			<string>Manche Ouest</string>
			<key>Tri</key>
			<integer>3</integer>
		</dict>
		<key>4</key>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>Nom</key>
			<string>Pointe Bretagne</string>
			<key>Tri</key>
			<integer>4</integer>
		</dict>
		<key>5</key>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>Nom</key>
			<string>Bretagne Sud</string>
			<key>Tri</key>
			<integer>5</integer>
		</dict>
		<key>6</key>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>Nom</key>
			<string>Atlantique</string>
			<key>Tri</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>Ports</key>
	<dict>
		<key>505</key>
		<dict>
			<key>id</key>
			<integer>505</integer>
			<key>Nom</key>
			<string>Zeebrugge</string>
			<key>Lat</key>
			<real>51.349998</real>
			<key>Lon</key>
			<real>3.2</real>
			<key>idPP</key>
			<integer>3</integer>
			<key>Tri</key>
			<integer>25</integer>
			<key>Zones</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>506</key>
		<dict>
			<key>id</key>
			<integer>506</integer>
			<key>Nom</key>
			<string>Oostende</string>
			<key>Lat</key>
			<real>51.23333</real>
			<key>Lon</key>
			<real>2.91666</real>
			<key>idPP</key>
			<integer>3</integer>
			<key>Tri</key>
			<integer>26</integer>
			<key>Zones</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>507</key>
		<dict>
			<key>id</key>
			<integer>507</integer>
			<key>Nom</key>
			<string>Nieuwpoort</string>
			<key>Lat</key>
			<real>51.150002</real>
			<key>Lon</key>
			<real>2.716666</real>
			<key>idPP</key>
			<integer>3</integer>
			<key>Tri</key>
			<integer>27</integer>
			<key>Zones</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>3</key>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>Nom</key>
			<string>Dunkerque</string>
			<key>Lat</key>
			<real>51.05</real>
			<key>Lon</key>
			<real>2.366667</real>
			<key>idPP</key>
			<integer>3</integer>
			<key>Tri</key>
			<integer>30</integer>
			<key>Zones</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>4</key>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>Nom</key>
			<string>Gravelines</string>
			<key>Lat</key>
			<real>51.0167</real>
			<key>Lon</key>
			<real>2.1</real>
			<key>idPP</key>
			<integer>3</integer>
			<key>Tri</key>
			<integer>40</integer>
			<key>Zones</key>
			<array>
				<integer>1</integer>
			</array>
		</dict>
		<key>5</key>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>Nom</key>
			<string>Calais</string>
			<key>Lat</key>
			<real>50.9693</real>
			<key>Lon</key>
			<real>1.8675</real>
			<key>idPP</key>
			<integer>5</integer>
			<key>Tri</key>
			<integer>50</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>6</key>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>Nom</key>
			<string>Wissant</string>
			<key>Lat</key>
			<real>50.8833</real>
			<key>Lon</key>
			<real>1.666667</real>
			<key>idPP</key>
			<integer>5</integer>
			<key>Tri</key>
			<integer>60</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>7</key>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>Nom</key>
			<string>Boulogne-sur-Mer</string>
			<key>Lat</key>
			<real>50.7333</real>
			<key>Lon</key>
			<real>1.583333</real>
			<key>idPP</key>
			<integer>7</integer>
			<key>Tri</key>
			<integer>70</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>8</key>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>Nom</key>
			<string>Le Touquet</string>
			<key>Lat</key>
			<real>50.5167</real>
			<key>Lon</key>
			<real>1.583333</real>
			<key>idPP</key>
			<integer>7</integer>
			<key>Tri</key>
			<integer>80</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>150</key>
		<dict>
			<key>id</key>
			<integer>150</integer>
			<key>Nom</key>
			<string>Baie de Somme (Le Crotoy)</string>
			<key>Lat</key>
			<real>50.235</real>
			<key>Lon</key>
			<real>1.470833</real>
			<key>idPP</key>
			<integer>7</integer>
			<key>Tri</key>
			<integer>109</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>11</key>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>Nom</key>
			<string>Cayeux-sur-Mer</string>
			<key>Lat</key>
			<real>50.1833</real>
			<key>Lon</key>
			<real>1.483333</real>
			<key>idPP</key>
			<integer>7</integer>
			<key>Tri</key>
			<integer>110</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>12</key>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>Nom</key>
			<string>Le Treport</string>
			<key>Lat</key>
			<real>50.0667</real>
			<key>Lon</key>
			<real>1.366667</real>
			<key>idPP</key>
			<integer>14</integer>
			<key>Tri</key>
			<integer>120</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>14</key>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>Nom</key>
			<string>Dieppe</string>
			<key>Lat</key>
			<real>49.9333</real>
			<key>Lon</key>
			<real>1.083333</real>
			<key>idPP</key>
			<integer>14</integer>
			<key>Tri</key>
			<integer>140</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>15</key>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>Nom</key>
			<string>Saint-Valery-en-Caux</string>
			<key>Lat</key>
			<real>49.8833</real>
			<key>Lon</key>
			<real>0.72</real>
			<key>idPP</key>
			<integer>14</integer>
			<key>Tri</key>
			<integer>150</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>16</key>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>Nom</key>
			<string>Fécamp</string>
			<key>Lat</key>
			<real>49.7667</real>
			<key>Lon</key>
			<real>0.366667</real>
			<key>idPP</key>
			<integer>16</integer>
			<key>Tri</key>
			<integer>160</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>17</key>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>Nom</key>
			<string>Etretat</string>
			<key>Lat</key>
			<real>49.7133</real>
			<key>Lon</key>
			<real>0.198333</real>
			<key>idPP</key>
			<integer>16</integer>
			<key>Tri</key>
			<integer>170</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>19</key>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>Nom</key>
			<string>Le Havre</string>
			<key>Lat</key>
			<real>49.4833</real>
			<key>Lon</key>
			<real>0.116667</real>
			<key>idPP</key>
			<integer>19</integer>
			<key>Tri</key>
			<integer>190</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>23</key>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>Nom</key>
			<string>Trouville / Deauville</string>
			<key>Lat</key>
			<real>49.3667</real>
			<key>Lon</key>
			<real>0.083333</real>
			<key>idPP</key>
			<integer>19</integer>
			<key>Tri</key>
			<integer>230</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>24</key>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>Nom</key>
			<string>Dives-sur-Mer</string>
			<key>Lat</key>
			<real>49.3</real>
			<key>Lon</key>
			<real>-0.1</real>
			<key>idPP</key>
			<integer>19</integer>
			<key>Tri</key>
			<integer>240</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>25</key>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>Nom</key>
			<string>Ouistreham</string>
			<key>Lat</key>
			<real>49.2833</real>
			<key>Lon</key>
			<real>-0.25</real>
			<key>idPP</key>
			<integer>19</integer>
			<key>Tri</key>
			<integer>250</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>26</key>
		<dict>
			<key>id</key>
			<integer>26</integer>
			<key>Nom</key>
			<string>Courseulles-sur-Mer</string>
			<key>Lat</key>
			<real>49.3333</real>
			<key>Lon</key>
			<real>-0.45</real>
			<key>idPP</key>
			<integer>19</integer>
			<key>Tri</key>
			<integer>260</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>27</key>
		<dict>
			<key>id</key>
			<integer>27</integer>
			<key>Nom</key>
			<string>Arromanches-Les-Bains</string>
			<key>Lat</key>
			<real>49.3555</real>
			<key>Lon</key>
			<real>-0.62</real>
			<key>idPP</key>
			<integer>19</integer>
			<key>Tri</key>
			<integer>270</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>28</key>
		<dict>
			<key>id</key>
			<integer>28</integer>
			<key>Nom</key>
			<string>Port-en-Bessin</string>
			<key>Lat</key>
			<real>49.35</real>
			<key>Lon</key>
			<real>-0.75</real>
			<key>idPP</key>
			<integer>19</integer>
			<key>Tri</key>
			<integer>280</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>29</key>
		<dict>
			<key>id</key>
			<integer>29</integer>
			<key>Nom</key>
			<string>Grandcamp</string>
			<key>Lat</key>
			<real>49.4167</real>
			<key>Lon</key>
			<real>-1.083333</real>
			<key>idPP</key>
			<integer>33</integer>
			<key>Tri</key>
			<integer>290</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>31</key>
		<dict>
			<key>id</key>
			<integer>31</integer>
			<key>Nom</key>
			<string>Saint-Vaast-La-Hougue</string>
			<key>Lat</key>
			<real>49.5883</real>
			<key>Lon</key>
			<real>-1.24</real>
			<key>idPP</key>
			<integer>33</integer>
			<key>Tri</key>
			<integer>310</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>32</key>
		<dict>
			<key>id</key>
			<integer>32</integer>
			<key>Nom</key>
			<string>Barfleur</string>
			<key>Lat</key>
			<real>49.6667</real>
			<key>Lon</key>
			<real>-1.25</real>
			<key>idPP</key>
			<integer>33</integer>
			<key>Tri</key>
			<integer>320</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>33</key>
		<dict>
			<key>id</key>
			<integer>33</integer>
			<key>Nom</key>
			<string>Cherbourg</string>
			<key>Lat</key>
			<real>49.6518</real>
			<key>Lon</key>
			<real>-1.632833</real>
			<key>idPP</key>
			<integer>33</integer>
			<key>Tri</key>
			<integer>330</integer>
			<key>Zones</key>
			<array>
				<integer>2</integer>
			</array>
		</dict>
		<key>35</key>
		<dict>
			<key>id</key>
			<integer>35</integer>
			<key>Nom</key>
			<string>Goury</string>
			<key>Lat</key>
			<real>49.7167</real>
			<key>Lon</key>
			<real>-1.95</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>350</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>300</key>
		<dict>
			<key>id</key>
			<integer>300</integer>
			<key>Nom</key>
			<string>Alderney (Braye)</string>
			<key>Lat</key>
			<real>49.71666</real>
			<key>Lon</key>
			<real>-2.2</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>355</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>37</key>
		<dict>
			<key>id</key>
			<integer>37</integer>
			<key>Nom</key>
			<string>Dielette</string>
			<key>Lat</key>
			<real>49.55</real>
			<key>Lon</key>
			<real>-1.866667</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>370</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>301</key>
		<dict>
			<key>id</key>
			<integer>301</integer>
			<key>Nom</key>
			<string>Guernsey (Saint-Peter-Port)</string>
			<key>Lat</key>
			<real>49.450001</real>
			<key>Lon</key>
			<real>-2.51666</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>375</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>38</key>
		<dict>
			<key>id</key>
			<integer>38</integer>
			<key>Nom</key>
			<string>Carteret</string>
			<key>Lat</key>
			<real>49.3667</real>
			<key>Lon</key>
			<real>-1.833333</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>380</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>41</key>
		<dict>
			<key>id</key>
			<integer>41</integer>
			<key>Nom</key>
			<string>Saint-Germain-sur-Ay</string>
			<key>Lat</key>
			<real>49.2</real>
			<key>Lon</key>
			<real>-1.666667</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>410</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>302</key>
		<dict>
			<key>id</key>
			<integer>302</integer>
			<key>Nom</key>
			<string>Jersey (Saint-Helier)</string>
			<key>Lat</key>
			<real>49.183331</real>
			<key>Lon</key>
			<real>-2.11666</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>415</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>43</key>
		<dict>
			<key>id</key>
			<integer>43</integer>
			<key>Nom</key>
			<string>Pointe d&apos;Agon</string>
			<key>Lat</key>
			<real>49.0167</real>
			<key>Lon</key>
			<real>-1.55</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>430</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>45</key>
		<dict>
			<key>id</key>
			<integer>45</integer>
			<key>Nom</key>
			<string>Granville</string>
			<key>Lat</key>
			<real>48.8342</real>
			<key>Lon</key>
			<real>-1.622333</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>450</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>48</key>
		<dict>
			<key>id</key>
			<integer>48</integer>
			<key>Nom</key>
			<string>Cancale</string>
			<key>Lat</key>
			<real>48.68</real>
			<key>Lon</key>
			<real>-1.806667</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>480</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>52</key>
		<dict>
			<key>id</key>
			<integer>52</integer>
			<key>Nom</key>
			<string>Saint-Malo</string>
			<key>Lat</key>
			<real>48.6417</real>
			<key>Lon</key>
			<real>-2.006667</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>520</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>54</key>
		<dict>
			<key>id</key>
			<integer>54</integer>
			<key>Nom</key>
			<string>Saint-Cast</string>
			<key>Lat</key>
			<real>48.6383</real>
			<key>Lon</key>
			<real>-2.223333</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>540</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>55</key>
		<dict>
			<key>id</key>
			<integer>55</integer>
			<key>Nom</key>
			<string>Erquy</string>
			<key>Lat</key>
			<real>48.6543</real>
			<key>Lon</key>
			<real>-2.48</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>550</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>56</key>
		<dict>
			<key>id</key>
			<integer>56</integer>
			<key>Nom</key>
			<string>Dahouet</string>
			<key>Lat</key>
			<real>48.579166</real>
			<key>Lon</key>
			<real>-2.564</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>560</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>57</key>
		<dict>
			<key>id</key>
			<integer>57</integer>
			<key>Nom</key>
			<string>Baie de Saint-Brieuc (Le Légué)</string>
			<key>Lat</key>
			<real>48.5667</real>
			<key>Lon</key>
			<real>-2.683333</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>570</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>58</key>
		<dict>
			<key>id</key>
			<integer>58</integer>
			<key>Nom</key>
			<string>Binic</string>
			<key>Lat</key>
			<real>48.6</real>
			<key>Lon</key>
			<real>-2.816667</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>580</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>59</key>
		<dict>
			<key>id</key>
			<integer>59</integer>
			<key>Nom</key>
			<string>Saint-Quay-Portrieux</string>
			<key>Lat</key>
			<real>48.6333</real>
			<key>Lon</key>
			<real>-2.816667</real>
			<key>idPP</key>
			<integer>52</integer>
			<key>Tri</key>
			<integer>590</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>62</key>
		<dict>
			<key>id</key>
			<integer>62</integer>
			<key>Nom</key>
			<string>Paimpol</string>
			<key>Lat</key>
			<real>48.7917</real>
			<key>Lon</key>
			<real>-2.945833</real>
			<key>idPP</key>
			<integer>62</integer>
			<key>Tri</key>
			<integer>620</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>64</key>
		<dict>
			<key>id</key>
			<integer>64</integer>
			<key>Nom</key>
			<string>Port-Béni</string>
			<key>Lat</key>
			<real>48.85</real>
			<key>Lon</key>
			<real>-3.166666</real>
			<key>idPP</key>
			<integer>62</integer>
			<key>Tri</key>
			<integer>640</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>66</key>
		<dict>
			<key>id</key>
			<integer>66</integer>
			<key>Nom</key>
			<string>Perros-Guirec</string>
			<key>Lat</key>
			<real>48.8167</real>
			<key>Lon</key>
			<real>-3.466667</real>
			<key>idPP</key>
			<integer>62</integer>
			<key>Tri</key>
			<integer>660</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>67</key>
		<dict>
			<key>id</key>
			<integer>67</integer>
			<key>Nom</key>
			<string>Ploumanac&apos;h</string>
			<key>Lat</key>
			<real>48.836666</real>
			<key>Lon</key>
			<real>-3.480667</real>
			<key>idPP</key>
			<integer>62</integer>
			<key>Tri</key>
			<integer>670</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>68</key>
		<dict>
			<key>id</key>
			<integer>68</integer>
			<key>Nom</key>
			<string>Trébeurden</string>
			<key>Lat</key>
			<real>48.7667</real>
			<key>Lon</key>
			<real>-3.583333</real>
			<key>idPP</key>
			<integer>72</integer>
			<key>Tri</key>
			<integer>680</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>72</key>
		<dict>
			<key>id</key>
			<integer>72</integer>
			<key>Nom</key>
			<string>Roscoff</string>
			<key>Lat</key>
			<real>48.7167</real>
			<key>Lon</key>
			<real>-3.966667</real>
			<key>idPP</key>
			<integer>72</integer>
			<key>Tri</key>
			<integer>720</integer>
			<key>Zones</key>
			<array>
				<integer>3</integer>
			</array>
		</dict>
		<key>73</key>
		<dict>
			<key>id</key>
			<integer>73</integer>
			<key>Nom</key>
			<string>Brignogan-Plage</string>
			<key>Lat</key>
			<real>48.6785</real>
			<key>Lon</key>
			<real>-4.315834</real>
			<key>idPP</key>
			<integer>72</integer>
			<key>Tri</key>
			<integer>730</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>74</key>
		<dict>
			<key>id</key>
			<integer>74</integer>
			<key>Nom</key>
			<string>Aber Wrac&apos;h</string>
			<key>Lat</key>
			<real>48.6</real>
			<key>Lon</key>
			<real>-4.566667</real>
			<key>idPP</key>
			<integer>72</integer>
			<key>Tri</key>
			<integer>740</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>76</key>
		<dict>
			<key>id</key>
			<integer>76</integer>
			<key>Nom</key>
			<string>Portsall</string>
			<key>Lat</key>
			<real>48.5667</real>
			<key>Lon</key>
			<real>-4.716667</real>
			<key>idPP</key>
			<integer>72</integer>
			<key>Tri</key>
			<integer>760</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>77</key>
		<dict>
			<key>id</key>
			<integer>77</integer>
			<key>Nom</key>
			<string>L&apos;Aber Ildut - Lanildut</string>
			<key>Lat</key>
			<real>48.4667</real>
			<key>Lon</key>
			<real>-4.75</real>
			<key>idPP</key>
			<integer>72</integer>
			<key>Tri</key>
			<integer>770</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>78</key>
		<dict>
			<key>id</key>
			<integer>78</integer>
			<key>Nom</key>
			<string>Ile d&apos;Ouessant (Baie de Lampaul)</string>
			<key>Lat</key>
			<real>48.45</real>
			<key>Lon</key>
			<real>-5.1</real>
			<key>idPP</key>
			<integer>82</integer>
			<key>Tri</key>
			<integer>780</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>79</key>
		<dict>
			<key>id</key>
			<integer>79</integer>
			<key>Nom</key>
			<string>Ile Molène</string>
			<key>Lat</key>
			<real>48.4035</real>
			<key>Lon</key>
			<real>-4.945333</real>
			<key>idPP</key>
			<integer>82</integer>
			<key>Tri</key>
			<integer>790</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>80</key>
		<dict>
			<key>id</key>
			<integer>80</integer>
			<key>Nom</key>
			<string>Le Conquet</string>
			<key>Lat</key>
			<real>48.3667</real>
			<key>Lon</key>
			<real>-4.783333</real>
			<key>idPP</key>
			<integer>82</integer>
			<key>Tri</key>
			<integer>800</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>82</key>
		<dict>
			<key>id</key>
			<integer>82</integer>
			<key>Nom</key>
			<string>Brest</string>
			<key>Lat</key>
			<real>48.3833</real>
			<key>Lon</key>
			<real>-4.5</real>
			<key>idPP</key>
			<integer>82</integer>
			<key>Tri</key>
			<integer>820</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>83</key>
		<dict>
			<key>id</key>
			<integer>83</integer>
			<key>Nom</key>
			<string>Camaret-sur-Mer</string>
			<key>Lat</key>
			<real>48.2783</real>
			<key>Lon</key>
			<real>-4.576667</real>
			<key>idPP</key>
			<integer>82</integer>
			<key>Tri</key>
			<integer>830</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>84</key>
		<dict>
			<key>id</key>
			<integer>84</integer>
			<key>Nom</key>
			<string>Morgat</string>
			<key>Lat</key>
			<real>48.2167</real>
			<key>Lon</key>
			<real>-4.5</real>
			<key>idPP</key>
			<integer>82</integer>
			<key>Tri</key>
			<integer>840</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>85</key>
		<dict>
			<key>id</key>
			<integer>85</integer>
			<key>Nom</key>
			<string>Douarnenez</string>
			<key>Lat</key>
			<real>48.1</real>
			<key>Lon</key>
			<real>-4.316667</real>
			<key>idPP</key>
			<integer>82</integer>
			<key>Tri</key>
			<integer>850</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>86</key>
		<dict>
			<key>id</key>
			<integer>86</integer>
			<key>Nom</key>
			<string>Ile de Sein</string>
			<key>Lat</key>
			<real>48.040165</real>
			<key>Lon</key>
			<real>-4.819167</real>
			<key>idPP</key>
			<integer>82</integer>
			<key>Tri</key>
			<integer>860</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>87</key>
		<dict>
			<key>id</key>
			<integer>87</integer>
			<key>Nom</key>
			<string>Audierne</string>
			<key>Lat</key>
			<real>48.0167</real>
			<key>Lon</key>
			<real>-4.55</real>
			<key>idPP</key>
			<integer>93</integer>
			<key>Tri</key>
			<integer>870</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>89</key>
		<dict>
			<key>id</key>
			<integer>89</integer>
			<key>Nom</key>
			<string>Le Guilvinec</string>
			<key>Lat</key>
			<real>47.8</real>
			<key>Lon</key>
			<real>-4.283333</real>
			<key>idPP</key>
			<integer>93</integer>
			<key>Tri</key>
			<integer>890</integer>
			<key>Zones</key>
			<array>
				<integer>4</integer>
			</array>
		</dict>
		<key>92</key>
		<dict>
			<key>id</key>
			<integer>92</integer>
			<key>Nom</key>
			<string>Benodet</string>
			<key>Lat</key>
			<real>47.881</real>
			<key>Lon</key>
			<real>-4.084167</real>
			<key>idPP</key>
			<integer>93</integer>
			<key>Tri</key>
			<integer>920</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>93</key>
		<dict>
			<key>id</key>
			<integer>93</integer>
			<key>Nom</key>
			<string>Concarneau</string>
			<key>Lat</key>
			<real>47.8733</real>
			<key>Lon</key>
			<real>-3.893333</real>
			<key>idPP</key>
			<integer>93</integer>
			<key>Tri</key>
			<integer>930</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>151</key>
		<dict>
			<key>id</key>
			<integer>151</integer>
			<key>Nom</key>
			<string>Le Pouldu</string>
			<key>Lat</key>
			<real>47.762</real>
			<key>Lon</key>
			<real>-3.524</real>
			<key>idPP</key>
			<integer>93</integer>
			<key>Tri</key>
			<integer>945</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>95</key>
		<dict>
			<key>id</key>
			<integer>95</integer>
			<key>Nom</key>
			<string>Lorient</string>
			<key>Lat</key>
			<real>47.75</real>
			<key>Lon</key>
			<real>-3.35</real>
			<key>idPP</key>
			<integer>98</integer>
			<key>Tri</key>
			<integer>950</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>97</key>
		<dict>
			<key>id</key>
			<integer>97</integer>
			<key>Nom</key>
			<string>Port-Louis (Locmalo)</string>
			<key>Lat</key>
			<real>47.7</real>
			<key>Lon</key>
			<real>-3.35</real>
			<key>idPP</key>
			<integer>98</integer>
			<key>Tri</key>
			<integer>970</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>98</key>
		<dict>
			<key>id</key>
			<integer>98</integer>
			<key>Nom</key>
			<string>Ile de Groix (Port-Tudy)</string>
			<key>Lat</key>
			<real>47.65</real>
			<key>Lon</key>
			<real>-3.45</real>
			<key>idPP</key>
			<integer>98</integer>
			<key>Tri</key>
			<integer>980</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>99</key>
		<dict>
			<key>id</key>
			<integer>99</integer>
			<key>Nom</key>
			<string>Etel</string>
			<key>Lat</key>
			<real>47.6567</real>
			<key>Lon</key>
			<real>-3.193333</real>
			<key>idPP</key>
			<integer>98</integer>
			<key>Tri</key>
			<integer>990</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>101</key>
		<dict>
			<key>id</key>
			<integer>101</integer>
			<key>Nom</key>
			<string>Belle-Ile (Le Palais)</string>
			<key>Lat</key>
			<real>47.35</real>
			<key>Lon</key>
			<real>-3.15</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1010</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>102</key>
		<dict>
			<key>id</key>
			<integer>102</integer>
			<key>Nom</key>
			<string>Quiberon (Port-Haliguen)</string>
			<key>Lat</key>
			<real>47.4833</real>
			<key>Lon</key>
			<real>-3.1</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1020</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>103</key>
		<dict>
			<key>id</key>
			<integer>103</integer>
			<key>Nom</key>
			<string>La Trinite-sur-Mer</string>
			<key>Lat</key>
			<real>47.5883</real>
			<key>Lon</key>
			<real>-3.01</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1030</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>104</key>
		<dict>
			<key>id</key>
			<integer>104</integer>
			<key>Nom</key>
			<string>Port-Navalo</string>
			<key>Lat</key>
			<real>47.55</real>
			<key>Lon</key>
			<real>-2.916667</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1040</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>154</key>
		<dict>
			<key>id</key>
			<integer>154</integer>
			<key>Nom</key>
			<string>Locmariaquer</string>
			<key>Lat</key>
			<real>47.57</real>
			<key>Lon</key>
			<real>-2.903333</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1056</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>106</key>
		<dict>
			<key>id</key>
			<integer>106</integer>
			<key>Nom</key>
			<string>Arradon</string>
			<key>Lat</key>
			<real>47.6155</real>
			<key>Lon</key>
			<real>-2.805167</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1060</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>107</key>
		<dict>
			<key>id</key>
			<integer>107</integer>
			<key>Nom</key>
			<string>Vannes</string>
			<key>Lat</key>
			<real>47.6383</real>
			<key>Lon</key>
			<real>-2.739167</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1070</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>108</key>
		<dict>
			<key>id</key>
			<integer>108</integer>
			<key>Nom</key>
			<string>Saint-Armel (Le Passage)</string>
			<key>Lat</key>
			<real>47.5891</real>
			<key>Lon</key>
			<real>-2.7185</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1080</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>109</key>
		<dict>
			<key>id</key>
			<integer>109</integer>
			<key>Nom</key>
			<string>Le Logeo</string>
			<key>Lat</key>
			<real>47.55</real>
			<key>Lon</key>
			<real>-2.85</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1090</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>110</key>
		<dict>
			<key>id</key>
			<integer>110</integer>
			<key>Nom</key>
			<string>Penerf</string>
			<key>Lat</key>
			<real>47.5167</real>
			<key>Lon</key>
			<real>-2.616667</real>
			<key>idPP</key>
			<integer>104</integer>
			<key>Tri</key>
			<integer>1100</integer>
			<key>Zones</key>
			<array>
				<integer>5</integer>
			</array>
		</dict>
		<key>114</key>
		<dict>
			<key>id</key>
			<integer>114</integer>
			<key>Nom</key>
			<string>Le Croisic</string>
			<key>Lat</key>
			<real>47.3</real>
			<key>Lon</key>
			<real>-2.516667</real>
			<key>idPP</key>
			<integer>117</integer>
			<key>Tri</key>
			<integer>1140</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>115</key>
		<dict>
			<key>id</key>
			<integer>115</integer>
			<key>Nom</key>
			<string>Le Pouliguen</string>
			<key>Lat</key>
			<real>47.2517</real>
			<key>Lon</key>
			<real>-2.396667</real>
			<key>idPP</key>
			<integer>117</integer>
			<key>Tri</key>
			<integer>1150</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>116</key>
		<dict>
			<key>id</key>
			<integer>116</integer>
			<key>Nom</key>
			<string>Pornichet</string>
			<key>Lat</key>
			<real>47.258335</real>
			<key>Lon</key>
			<real>-2.32</real>
			<key>idPP</key>
			<integer>117</integer>
			<key>Tri</key>
			<integer>1160</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>117</key>
		<dict>
			<key>id</key>
			<integer>117</integer>
			<key>Nom</key>
			<string>Saint-Nazaire</string>
			<key>Lat</key>
			<real>47.2667</real>
			<key>Lon</key>
			<real>-2.2</real>
			<key>idPP</key>
			<integer>117</integer>
			<key>Tri</key>
			<integer>1170</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>119</key>
		<dict>
			<key>id</key>
			<integer>119</integer>
			<key>Nom</key>
			<string>Pornic</string>
			<key>Lat</key>
			<real>47.1</real>
			<key>Lon</key>
			<real>-2.116667</real>
			<key>idPP</key>
			<integer>117</integer>
			<key>Tri</key>
			<integer>1190</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>120</key>
		<dict>
			<key>id</key>
			<integer>120</integer>
			<key>Nom</key>
			<string>Noirmoutier (L&apos;Herbaudière)</string>
			<key>Lat</key>
			<real>47.0333</real>
			<key>Lon</key>
			<real>-2.3</real>
			<key>idPP</key>
			<integer>117</integer>
			<key>Tri</key>
			<integer>1200</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>122</key>
		<dict>
			<key>id</key>
			<integer>122</integer>
			<key>Nom</key>
			<string>Fromentine Port</string>
			<key>Lat</key>
			<real>46.8933</real>
			<key>Lon</key>
			<real>-2.126667</real>
			<key>idPP</key>
			<integer>117</integer>
			<key>Tri</key>
			<integer>1220</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>124</key>
		<dict>
			<key>id</key>
			<integer>124</integer>
			<key>Nom</key>
			<string>Saint-Gilles-Croix-de-Vie</string>
			<key>Lat</key>
			<real>46.6967</real>
			<key>Lon</key>
			<real>-1.924167</real>
			<key>idPP</key>
			<integer>125</integer>
			<key>Tri</key>
			<integer>1240</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>125</key>
		<dict>
			<key>id</key>
			<integer>125</integer>
			<key>Nom</key>
			<string>Les Sables-d&apos;Olonne</string>
			<key>Lat</key>
			<real>46.5</real>
			<key>Lon</key>
			<real>-1.8</real>
			<key>idPP</key>
			<integer>125</integer>
			<key>Tri</key>
			<integer>1250</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>126</key>
		<dict>
			<key>id</key>
			<integer>126</integer>
			<key>Nom</key>
			<string>Ile de Ré (Saint-Martin)</string>
			<key>Lat</key>
			<real>46.208</real>
			<key>Lon</key>
			<real>-1.3345</real>
			<key>idPP</key>
			<integer>127</integer>
			<key>Tri</key>
			<integer>1260</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>127</key>
		<dict>
			<key>id</key>
			<integer>127</integer>
			<key>Nom</key>
			<string>La Rochelle-Pallice</string>
			<key>Lat</key>
			<real>46.16</real>
			<key>Lon</key>
			<real>-1.211667</real>
			<key>idPP</key>
			<integer>127</integer>
			<key>Tri</key>
			<integer>1270</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>128</key>
		<dict>
			<key>id</key>
			<integer>128</integer>
			<key>Nom</key>
			<string>Ile d&apos;Aix</string>
			<key>Lat</key>
			<real>46.0083</real>
			<key>Lon</key>
			<real>-1.16</real>
			<key>idPP</key>
			<integer>127</integer>
			<key>Tri</key>
			<integer>1280</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>153</key>
		<dict>
			<key>id</key>
			<integer>153</integer>
			<key>Nom</key>
			<string>Ile d&apos;Oléron (La Cotinière)</string>
			<key>Lat</key>
			<real>45.9142</real>
			<key>Lon</key>
			<real>-1.333334</real>
			<key>idPP</key>
			<integer>132</integer>
			<key>Tri</key>
			<integer>1285</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>131</key>
		<dict>
			<key>id</key>
			<integer>131</integer>
			<key>Nom</key>
			<string>Royan</string>
			<key>Lat</key>
			<real>45.615</real>
			<key>Lon</key>
			<real>-1.0105</real>
			<key>idPP</key>
			<integer>132</integer>
			<key>Tri</key>
			<integer>1310</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>132</key>
		<dict>
			<key>id</key>
			<integer>132</integer>
			<key>Nom</key>
			<string>Pointe de Grave (Port-Bloc)</string>
			<key>Lat</key>
			<real>45.5667</real>
			<key>Lon</key>
			<real>-1.066667</real>
			<key>idPP</key>
			<integer>132</integer>
			<key>Tri</key>
			<integer>1320</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>160</key>
		<dict>
			<key>id</key>
			<integer>160</integer>
			<key>Nom</key>
			<string>Pauillac</string>
			<key>Lat</key>
			<real>45.2</real>
			<key>Lon</key>
			<real>-0.75</real>
			<key>idPP</key>
			<integer>0</integer>
			<key>Tri</key>
			<integer>1325</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>161</key>
		<dict>
			<key>id</key>
			<integer>161</integer>
			<key>Nom</key>
			<string>Bordeaux</string>
			<key>Lat</key>
			<real>44.8667</real>
			<key>Lon</key>
			<real>-0.55</real>
			<key>idPP</key>
			<integer>0</integer>
			<key>Tri</key>
			<integer>1329</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>134</key>
		<dict>
			<key>id</key>
			<integer>134</integer>
			<key>Nom</key>
			<string>Lacanau</string>
			<key>Lat</key>
			<real>45</real>
			<key>Lon</key>
			<real>-1.2</real>
			<key>idPP</key>
			<integer>132</integer>
			<key>Tri</key>
			<integer>1340</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>135</key>
		<dict>
			<key>id</key>
			<integer>135</integer>
			<key>Nom</key>
			<string>Cap Ferret</string>
			<key>Lat</key>
			<real>44.6292</real>
			<key>Lon</key>
			<real>-1.225</real>
			<key>idPP</key>
			<integer>136</integer>
			<key>Tri</key>
			<integer>1350</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>136</key>
		<dict>
			<key>id</key>
			<integer>136</integer>
			<key>Nom</key>
			<string>Arcachon (Jetée d&apos;Eyrac)</string>
			<key>Lat</key>
			<real>44.6667</real>
			<key>Lon</key>
			<real>-1.166667</real>
			<key>idPP</key>
			<integer>136</integer>
			<key>Tri</key>
			<integer>1360</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>137</key>
		<dict>
			<key>id</key>
			<integer>137</integer>
			<key>Nom</key>
			<string>Biscarrosse</string>
			<key>Lat</key>
			<real>44.45</real>
			<key>Lon</key>
			<real>-1.25</real>
			<key>idPP</key>
			<integer>140</integer>
			<key>Tri</key>
			<integer>1370</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>138</key>
		<dict>
			<key>id</key>
			<integer>138</integer>
			<key>Nom</key>
			<string>Mimizan</string>
			<key>Lat</key>
			<real>44.2167</real>
			<key>Lon</key>
			<real>-1.3</real>
			<key>idPP</key>
			<integer>140</integer>
			<key>Tri</key>
			<integer>1380</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>140</key>
		<dict>
			<key>id</key>
			<integer>140</integer>
			<key>Nom</key>
			<string>Boucau-Bayonne / Biarritz</string>
			<key>Lat</key>
			<real>43.5167</real>
			<key>Lon</key>
			<real>-1.516667</real>
			<key>idPP</key>
			<integer>140</integer>
			<key>Tri</key>
			<integer>1400</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
		<key>141</key>
		<dict>
			<key>id</key>
			<integer>141</integer>
			<key>Nom</key>
			<string>Saint-Jean-de-Luz</string>
			<key>Lat</key>
			<real>43.3967</real>
			<key>Lon</key>
			<real>-1.651667</real>
			<key>idPP</key>
			<integer>141</integer>
			<key>Tri</key>
			<integer>1410</integer>
			<key>Zones</key>
			<array>
				<integer>6</integer>
			</array>
		</dict>
	</dict>
</dict>
</plist>
